/* ---------------------------------------------------------------------- */
/* --------------------------Important-Stuff----------------------------- */
/* ---------------------------------------------------------------------- */

body {
  font-family: 'Montserrat';
  font-size: 22px;
  background-color: #fff;
}

*, body{
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* ---------------------------------------------------------------------- */
/* -----------------------------Background------------------------------- */
/* ---------------------------------------------------------------------- */

.bg {
  background-image: url("background7.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgtext {
  padding-top: 20%;
  text-align: left;
  padding-left: 100px;
}

@media screen and (max-width:800px) {
  .bgtext {
    padding-left: 20px;
    font-size: 15px;
  }

  .bg {
    background-image: url("background9.png");
  }
}


/* ---------------------------------------------------------------------- */
/* -----------------------------Navigation------------------------------- */
/* ---------------------------------------------------------------------- */

/* Make the header */
.header{
  height: 80px;
  background: transparent;
  padding: 0 20px;
  color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

/* Set the logo */
.logo{
  line-height: 80px;
  float: left;
  position: fixed;
  top: 0;
  z-index: 1030;
  color: #000000;
}

/* Set the clickable nav to the right */
.menu{
  float: right;
  line-height: 80px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1030;
  font-size: 20px;
}

/* Transition and color of attribute tags */
.menu a{
  color: #000000;
  text-decoration: none;
  padding: 0 20px;
  transition: 0.4s;
}

.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
  color: black;
}

.show-menu-btn{
  float: right;
}

.show-menu-btn i{
  line-height: 100px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: #AEC6CF;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.header.scrolled {
  background: #f1f1f1;
  color: black;
}

/* ---------------------------------------------------------------------- */
/* --------------------------Responsive-Menu---------------------------- */
/* ---------------------------------------------------------------------- */

@media screen and (max-width:900px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #f1f1f1;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }

  .menu a{
    display: block;
    padding: 20px;
    color: black;
  }

  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }

  #chk:checked ~ .menu{
    right: 0;
  }

  .header {
    height: 90px;
  }

  .logo {
    line-height: 90px;
  }

  .menu ul a {
    line-height: 90px;
  }

  .show-menu-btn i, .hide-menu-btn i{
    line-height: 90px;
  }

  .hide-menu-btn {
    color: #000000;
  }
}

/* ---------------------------------------------------------------------- */
/* ------------------------------Sections-------------------------------- */
/* ---------------------------------------------------------------------- */

/* Section for text */
.main {
  text-align: left;
  padding: 20px;
  margin-top: 20px;
}

/* Make text smaller and centered on desktop screen */
.main p {
  margin-top: 10px;
  font-size: 18px;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 1.2;
  text-align: left;
}

/* Header Underline */
hr {
  width: 280px;
  text-align: left;
  margin-top: 10px;
  color: black;
  margin-left: 100px;
}

/* Adds space for navbar to scroll to */
.main h2 {
  margin-top: 90px;
  padding-bottom: 20px;
}

.main headers {
  text-align: left;
}

/* Footer at the bottom */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  color: black;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

i {
  color: black;

}

i:hover {
  color: #AEC6CF;
  transition: 0.4s;
  cursor: pointer;
}


/* Make text larger and on the left for mobile */
@media screen and (max-width:800px) {
  .main p {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    padding-top: 10px;
  }

  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }

  hr {
    margin-left: 20px;
  }
}

/* ---------------------------------------------------------------------- */
/* ----------------------Embeded-REPL.it-editor-------------------------- */
/* ---------------------------------------------------------------------- */

@media screen and (max-width:800px) {
  .main p iframe {
    height: 400px;
  }
}

/* ---------------------------------------------------------------------- */
/* ----------------------------Project-Cards----------------------------- */
/* ---------------------------------------------------------------------- */

.project-card {
  width: auto;
  height: 200px;
  background-color: #f1f1f1;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

@media screen and (max-width:800px) {
  .project-card {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.project-card p {
  margin-left: 0px;
  margin-top: 10px;
}

.main-card{
  max-width: 1200px;
  margin-left: 83px;
  margin-top: 20px;
}

@media screen and (max-width:800px) {
  .main-card {
    margin-left: 5px;
  }
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: #f1f1f1;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  background: #f1f1f1;
  text-align: center;
}

.card_title {
  color: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card_content p {
  text-align: center;
  padding-bottom: 20px;
}

.card_text {
  color: black;
}

/* ---------------------------------------------------------------------- */
/* -----------------------------Card-Buttons----------------------------- */
/* ---------------------------------------------------------------------- */

.project-demo-button a:link, a:visited {
  background-color: transparent;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  margin-bottom: 20px;
}

.project-demo-button a:hover, a:active {
  background-color: #AEC6CF;
  color: white;
  transition: 0.3s ease;
}

/* ---------------------------------------------------------------------- */
/* ----------------------------Contact-form------------------------------ */
/* ---------------------------------------------------------------------- */
